
/* ESTE CSS MODIFICA TODOS LOS HEADRES Y FOOTERS PARA SIMPLIFICAR EL CODIGO */


body{
    background-color: #F0EAD2;
    font-family: Montserrat, cursive;
    font-style: normal;
    display: flex;
    margin: 0px;
    flex-direction: column;
    min-height: 100vh;
    }

/*BANNER Y BARRA DE NAVEGACION*/    
header{
    background-image: url("../img/banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}    

.logo-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 50px;
}

.imagen-logo{
    margin-top: 1.5em; 
}

.titulo-header {
    font-family: "Redressed", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 5em;
    text-shadow: 5px 5px 10px darkgray;
    display: block !important;
  }
  
.lista-navegacion{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: bold;
    gap: 2em;
    padding: 0;
    list-style: none;
}

.lista-navegacion li{
    list-style-type: none;
    text-decoration: none;
    transition: 0.5s all;
    white-space: nowrap;
}

.lista-navegacion li:hover{
    transform: scale(1.1); 
    background-color: #936569;
    padding: 2px 5px;
    border-radius: 20px;

}

.link-menu:hover {
    text-decoration:#5A5D6E ;
    
}

.link-menu{

    text-decoration: none;
    color: white;
    text-shadow: 5px 5px 10px rgb(14, 13, 13);

}


/*FOOTER*/
footer{
    height: 296px;
    background-color: #5A5D6E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    flex-direction: column;
    margin-top: auto;
}

.contenido-footer{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.logo-footer {
    margin-bottom: 10px;
    max-width: 150px;
    height: auto;
}


.p-footer {
    text-align: center; 
}

.texto-footer{
    font-size: 16px;
    color: white; 
    margin: 10px 0; 
}

.texto-footer a {
    color: #007BFF; 
    text-decoration: none; 
}

.texto-footer a:hover {
    text-decoration: underline; 
}

/*RESPONSIVE*/

@media screen and (max-width: 768px) {

    /*RESPONSIVE HEADER*/
    header{
        height: 200px;
        width: auto;
    }
    .titulo-header {
        font-size: 2em;
    }

    .logo-titulo{
        text-align: center;
        align-content: center;
        margin: 0;
        
    }

    .imagen-logo {
        max-width: 70px;
        height: auto; 
    }

    .lista-navegacion {
        margin: 2.5em 2em 0.5em 1.5em; 

    }

    .lista-navegacion li {
        margin-bottom: 5px;
        font-size: 0.6em;

    }

    /*RESPONSIVE PRODUCTOS*/

    .logo-titulo-productos{
        margin-left: 1.8em;
    }

    .imagen-logo{
        max-width: 50px;
        height: auto;
        margin-top: 1.1em;
    }

    footer {
        height: auto;
        width: auto;
        padding: 10px;
    }

    .logo-footer {
        max-width: 100px;
        height: auto;
    }

    .texto-footer {
        font-size: 0.6em;
        margin: 0 12px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {

    /*HEADER*/
    header{
        height: 270px;
        width: auto;
    }
    .titulo-header {
        font-size: 3em;
    }

    .logo-titulo{
        text-align: center;
        align-content: center;
        margin: 0;
        
    }

    .imagen-logo {
        max-width: 90px;
        height: auto; 
    }

    .lista-navegacion li {
        margin-bottom: 5px;
        font-size: 0.8em;
    }
}